.background {
    background: linear-gradient(to left top, #FFAFD4, #4371E0);
}

.container {
    width: 100%;  
    padding: 50px;  
}

.generated {
    width: 100%;
    background: #F1F5F9;
    border-radius: 20px;
    
    padding: 20px;
    padding-left: 50px;
    padding-top: 50px;
}

.lastform {
    margin-left: auto;
    margin-right: auto;
}

.logoImage {
  width: 90px;

  position: absolute;
  top: 50px;
  left: 10%;
}

.rating {
    display: flex;
    --tw-text-opacity: 1;
    color: rgb(250 204 21 / var(--tw-text-opacity));
    padding: 0px 10px;
}
.title {
  display: flex;
  justify-content: center;

  margin-bottom: 100px;

}

.title h1 {
    color: #FF99CC;
    display: flex;
    font-size: 44px;
    justify-content: center;
    margin-top: 100px;
}

@media (max-width: 700px) {
    
    .container {
        width: 100%;  
        padding: 30px;  
    }
    
    .generated {
        width: 100%;
        
        padding: 20px;
        padding-top: 50px;
    }
    
    .lastform {
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoImage {
        display: none;
      width: 90px;
      height: 120px;
    
      position: absolute;
      top: 50px;
      left: 10%;
    }
    
    .rating {
        display: flex;
        --tw-text-opacity: 1;
        color: rgb(250 204 21 / var(--tw-text-opacity));
        padding: 0px 10px;
    }
    
    .title {
        margin-bottom: 50px;
      
    }

    .title h1 {
        font-size: 44px;
        margin-top: 50px;
    }   
}